<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

		<!-- Your existing appSettings -->
	</appSettings>

	<connectionStrings>

		<add name="JanVoiceDB"
             connectionString="Data Source=ritesh\SQLEXPRESS;Initial Catalog=JanVoiceDB;Integrated Security=True"
             providerName="System.Data.SqlClient" />
		
	</connectionStrings>

	<system.web>

		<compilation debug="true" targetFramework="4.7.2" />

		<httpRuntime targetFramework="4.7.2" />

	</system.web>

</configuration>