/*=========================================
NOTIFICATIONS PAGE
=========================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notification-page {
    padding: 35px;
    min-height: 100vh;
    background: #0F172A;
}

/*=========================================
HEADER
=========================================*/

.page-header {
    margin-bottom: 35px;
}

    .page-header h1 {
        color: #fff;
        font-size: 34px;
        margin-bottom: 8px;
    }

    .page-header p {
        color: #94A3B8;
    }

/*=========================================
LIST
=========================================*/

.notification-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*=========================================
CARD
=========================================*/

.notification-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px;
    background: rgba(30,41,59,.75);
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,.08);
    transition: .30s;
}

    .notification-card:hover {
        transform: translateY(-3px);
        border-color: #3B82F6;
    }

.notification-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2563EB;
    color: white;
    font-size: 28px;
}

.notification-content {
    flex: 1;
}

    .notification-content h3 {
        color: white;
        margin-bottom: 8px;
    }

    .notification-content p {
        color: #CBD5E1;
        margin-bottom: 8px;
    }

    .notification-content small {
        color: #94A3B8;
    }

.view-btn {
    background: #2563EB;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

    .view-btn:hover {
        background: #1D4ED8;
    }


/*=========================================
EMPTY MESSAGE
=========================================*/

.empty-message {
    text-align: center;
    padding: 80px 20px;
}

.empty-image {
    width: 180px;
    margin-bottom: 20px;
}

.empty-message h2 {
    color: white;
    margin-bottom: 10px;
}

.empty-message p {
    color: #94A3B8;
}
/*=========================================
READ / UNREAD
=========================================*/

.notification-card.unread {
    border-left: 6px solid #3B82F6;
    background: #1E293B;
}

.notification-card.read {
    opacity: .85;
}